form {
  font-family: sans-serif;
  border: 1px solid #D4DADB;
  padding: 0 15px;
  border:none;
  background-color: white;
}
label{
	font-size: 14px;
	padding-left: 10px;
	word-spacing: 5px;
}
form input{
	padding-right: 10px;
	width: 150px;
	float: right;
}
form fieldset{
	width: 400px;
}
